{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
    <link rel="stylesheet" href="{% static "styles.css"%}">
</head>
<body>
    <h1 class='M_title'>Documentation Team</h1>
    <p>Documentations job is to document everything that happens throughout the year. They also have to create a year book which will be given out at the end of the year for that class.</p>
</body>
</html>